.ven{
    margin-top:30px;
    margin-left: 8%;
}
.kat{
    margin-top:-50px;
    margin-left: 100%;
}
.btn{
    margin-top: -70px;
    margin-left:50%;
}

.next{
margin-top: -675;
margin-left: 60%;
}